<!DOCTYPE html>
<html>
  <head>

	  	<link rel = "stylesheet" type = "text/css" href="/stylesheets/base.css">
		<link rel = "stylesheet" type = "text/css" href="/stylesheets/skeleton.css">
		<link rel = "stylesheet" type = "text/css" href="/stylesheets/layout.css">
		<link rel = "stylesheet" type = "text/css" href="/stylesheets/style.css">

	   
	   <title>Favorite Bands</title>
  </head>
  <body>
	  	<div class = "container">
	  		<div class = "ten columns offset-by-three" id ="everything">
	  			<div class = "row"></div>
		  		<div class = "ten columns offset" id = "wrapper">


					<div id = "header">
						<a href='/'>Home</a> | <a href='/bands/new'>Add a band</a>				
					</div>
					
					<div class = "row"></div>	

					<div class = "three columns offset-by-one" id = "left">
								
						<h4>Favorite Bands</h4>	
					
						<ul>		
							<% @all_bands.each do |band| %>
								<li><a href="/bands/<%= band.id %>/edit"><%= band.band_name %></a></li>
							<% end %>
						</ul>
					</div>
				  		
					<div class = "three columns offset-by-one" id = "yield">
				    	<%= yield %>
				    </div>

				</div>
		  
 			</div>
		</div>

  </body>
</html>
